<section class='form'>
	<%= form_for :sessions do |f| %>
		
		<%= f.label :email, 'E-mail', class: 'form-item form-label' %>
		<%= f.text_field :email, class: 'form-item form-field' %>

		<%= f.label :password, 'Password', class: 'form-item form-label' %>
		<%= f.password_field :password, class: 'form-item form-field' %>

		<%= f.submit 'Login', class: 'form-item form-button' %>
	<% end %>
</section>