<section class='form'>
	<%= form_for @user do |f| %>
	
	<%= f.label :email, "E-mail", class: 'form-item form-label' %>
	<%= f.text_field :email, class: 'form-item form-field' %>
	
	<%= f.label :password, "Password", class: 'form-item form-label' %>
	<%= f.password_field :password, class: 'form-item form-field' %>

	<%= f.label :password_confirmation, "Confirm Password", class: 'form-item form-label' %>
	<%= f.password_field :password_confirmation, class: 'form-item form-field' %>

	<%= f.submit "Sign up", class: 'form-item form-button' %>
	
<% end %>
</section>